/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$color-black: #000000;
$color-white: #ffffff;
$red: #ff0000;
$base-color-btn: #68b738;
$base-hover-color-btn: #5eaa2f;
$base-action-color-btn-text: #8ec36d;

$bg-color-hero: #62a63a;


$tablet-width: 768px;
$desktop-width: 1300px;
