/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/button.scss";
@import "./blocks/button-open.scss";
@import "./blocks/button-close.scss";
@import "./blocks/container.scss";
@import "./blocks/main-header.scss";
@import "./blocks/logo-img.scss";
@import "./blocks/logo-name.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-container.scss";
@import "./blocks/hero.scss";
@import "./blocks/preview.scss";
@import "./blocks/card-offer.scss";
@import "./blocks/faq.scss";
@import "./blocks/example.scss";
@import "./blocks/slider.scss";
@import "./blocks/contact.scss";
@import "./blocks/social-list.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/htmlacademy.scss";
@import "./blocks/catalog-primary.scss";
@import "./blocks/product-card.scss";
@import "./blocks/catalog-secondary.scss";
@import "./blocks/product-card-secondary.scss";
@import "./blocks/subscription.scss";
