.button-close {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 18px;
  height: 18px;
}

.button-close__line {
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: $color-black;
  top: 8px;
  transform: rotate(45deg);

  &:nth-child(2) {
    transform: rotate(-45deg);
  }
}
