.catalog-primary {
  padding-top: 27px;
  border-top: 1px solid #d9d9d9;
  margin-bottom: 25px;
}

.catalog-primary__title {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $color-black;
  margin-bottom: 41px;
}

.catalog-primary__catalog-primary-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}