.contact {
  display: grid;
  margin: 0 auto;
  min-width: 320px;

  @media (width >= $desktop-width) {
    width: 100%;
    position: relative;
  }
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  padding: 20px 26px;
  justify-content: space-between;

  @media (width >= $tablet-width) {
    padding: 61px 70px;
  }

  @media (width >= $desktop-width) {
    position: absolute;
    background-color: $color-white;
    padding: 61px 80px;
    margin-top: 95px;
    left: calc(50% - 650px);
  }
}

.contact__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin: 0;

  @media (width >= $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contact__address {
  line-height: 20px;
  text-align: left;
  font-style: normal;

  @media (width >= $tablet-width) {
    font-size: 16px;
    min-width: 160px;
    text-align: right;
  }
}

.contact__address p {
  margin: 0;
  display: block;

  &:first-child {
    @media (width >= $tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.contact__iframe {
  min-width: 320px;
  height: 362px;
  background-image:
    image-set(
      url("../../images/contact-map-mobile@2x.png"),
      url("../../images/contact-map-mobile@1x.png")
    );
  background-size: 320px 362px;
  background-repeat: no-repeat;

  @media (width >= $tablet-width) {
    min-width: 768px;
    height: 400px;
    background-image:
      image-set (
        url("../../images/contact-map-tablet@2x.png"),
        url("../../images/contact-map-tablet@1x.png")
      );
    background-size: 768px 400px;
  }

  @media (width >= $desktop-width) {
    min-width: 1440px;
    height: 400px;
    background-image:
      image-set (
        url("../../images/contact-map-desktop@2x.png"),
        url("../../images/contact-map-desktop@1x.png")
      );
    background-size: contain;
  }
}

.contact__iframe iframe {
  width: 100%;
  height: 362px;

  @media (width >= $tablet-width) {
    height: 400px;
  }
}
