.example {
  padding: 20px;
  background-color: #eaeaea;
  margin: 0 auto;
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  color: #000000;
}

.example__text {
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 34px;
  max-width: 400px;

}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.example__item {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 14px 20px 17px;
  position: relative;
  min-width: 124px;
}

.example__item-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  position: absolute;
  width: 80px;
  background-color: #eaeaea;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  margin: 0;
}

.example__text-secondary {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.example__slider {
  margin: 0 auto;
}