.example {
  background-color: #eaeaea;

  @media (width >= $tablet-width) {
    border-top: 1px solid #e6e6e6;
    background-image: linear-gradient(180deg, $color-white 619px, #eaeaea 619px);
  }

  @media (width >= $desktop-width) {
    border-top: none;
    width: 100%;
    background-image: linear-gradient(180deg, $color-white 136px, #f2f2f2 136px);
  }
}

.example__box {
  padding: 20px;
  margin: 0 auto;
  max-width: 400px;

  @media (width >= $tablet-width) {
    padding: 45px 30px 101px;
    max-width: 770px;
  }

  @media (width >= $desktop-width) {
    padding: 0 0 75px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    background-image: linear-gradient(180deg, $color-white 136px, #f2f2f2 136px);
    justify-content: space-between;
  }
}

.example_container {
  @media (width >= $desktop-width) {
    max-width: 450px;
  }
}

.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  color: #000000;

  @media (width >= $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 20px;

  @media (width >= $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 69px;
  }
}

.example__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (width >= $tablet-width) {
    justify-content: space-between;
    margin-bottom: 99px;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 0;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 34px;
  max-width: 400px;
  gap: 32px;

  @media (width >= $tablet-width) {
    margin: 0;
  }

  @media (width >= $desktop-width) {
    margin-bottom: 60px;
  }
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.example__item {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 14px 20px 17px;
  position: relative;
  color: $color-black;
  min-width: 124px;

  @media (width >= $tablet-width) {
    padding: 15px 20px 20px;
    min-width: 162px;
  }
}

.example__item-description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  position: absolute;
  width: fit-content;
  background-color: #eaeaea;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;

  @media (width >= $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: max-content;
    padding-left: 9px;
    padding-right: 9px;
    background-color: $color-white;
  }

  @media (width >= $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__text-secondary {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  color: $color-black;

  @media (width >= $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    max-width: 180px;
    text-align: right;
    margin-top: 11px;
    margin-bottom: 0;
  }

  @media (width >= $desktop-width) {
    display: flex;
    min-width: 330px;
    gap: 63px;
    margin-top: 0;
  }
}

.example__text-secondary-span {
  @media (width >= $tablet-width) {
    display: block;
    margin-top: 9px;
  }

  @media (width >= $desktop-width) {
    margin: 0;
  }
}

.example__slider {
  margin: 0 auto;

  @media (width >= $desktop-width) {
    margin: 0;
  }
}
