.htmlacademy {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 23px;
    max-width: 168px;
  }
}

.htmlacademy__link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $base-color-text;
}

.htmlacademy__logo {
  width: 27px;
  height: 37px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#htmlacademy");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 27px 37px;
}

.htmlacademy:hover .htmlacademy__logo,
.htmlacademy:focus .htmlacademy__logo {
  background-color: $base-color-btn;
}

.htmlacademy:active {
  opacity: 0.3;
}
