.main-header {
  text-transform: uppercase;
  padding: 13px 10px 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  z-index: 10;

  @media (width >= $tablet-width) {
    padding: 25px 30px 0;
  }

  @media (width >= $desktop-width) {
    padding: 55px 40px 0;
    width: 100%;
    max-width: 1300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.main-header a {
  text-decoration: none;
}

.main-header__button {
  min-width: 44px;
  min-height: 44px;
  background-color: transparent;
  display: grid;

  @media (width >= $tablet-width) {
    display: none;
  }
}

.main-header__open {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.main-header__close {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.main-header__button:hover,
.main-header__button:focus {
  opacity: 0.6;
  background-color: transparent;
}

.main-header__button:active {
  opacity: 0.3;
  background-color: transparent;
}
