.main-header {
  text-transform: uppercase;
  padding: 13px 10px 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }
}

.main-header a {
  text-decoration: none;
}

.main-header__button {
  min-width: 44px;
  min-height: 44px;
  background-color: transparent;
  display: grid;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__open {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.main-header__close {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.main-header__button:hover,
.main-header__button:focus {
  opacity: 0.6;
  background-color: transparent;
}

.main-header__button:active {
  opacity: 0.3;
  background-color: transparent;
}