.product-card-secondary {
  padding-top: 13px;
  padding-bottom: 19px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (width >= $tablet-width) {
    grid-template-columns: repeat(2, 1fr) 91px;
    padding: 26px 38px 28px;
  }

  @media (width >= $desktop-width) {
    grid-template-columns: 325px 243px 82px 244px;
    padding: 15px 0 17px;
  }
}

.product-card-secondary__title {
  margin: 0;
  margin-bottom: 13px;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #222222;

  @media (width >= $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}

.product-card-secondary__text {
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: left;

  @media (width >= $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (width >= $desktop-width) {
    grid-column: 2 / 3;
    text-align: left;
  }
}

.product-card-secondary__current {
  margin: 0;
  grid-column: 3 / 5;
  grid-row: 2 / 3;
  text-align: right;
  margin-bottom: 15px;

  @media (width >= $tablet-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-size: 16px;
    line-height: 20px;
  }

  @media (width >= $desktop-width) {
    grid-column: 3 / 4;
    text-align: left;
  }
}

.product-card-secondary__button {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  padding: 10px 20px;

  @media (width >= $tablet-width) {
    grid-row: 2 / 3;
    font-size: 16px;
    line-height: 20px;
  }

  @media (width >= $desktop-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
}
