.product-card {
  border-top: 1px solid #ebebeb;
  display: grid;
  grid-template-columns: 140px 1fr;
  padding: 20px 20px 25px;
}

.product-card__image-wrapper {
  display: flex;
  height: 107px;
  justify-content: center;
  align-items: center;
}

.product-card__image {
  display: block;
}

.product-card__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 21px;
}

.product-card__item {
  display: flex;
  justify-content: space-between;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  margin: 0;
  padding-right: 50px;
  margin-bottom: 14px;
}

.product-card__argument,
.product-card__value {
  margin: 0;
}

.product-card__button {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 10px 30px;
}

.product-card--more {
  position: relative;
  border-bottom: 1px solid #ebebeb;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    left: 50%;
    top: 39px;
    transform: translateX(-50%);
  }

  &::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    background-color: #d3d3d3;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
  }
}

.product-card--more .product-card__title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  text-align: center;
  padding-top: 58px;
  padding-right: 0;
  margin-bottom: 8px;
}

.product-card--more .product-card__text {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
}

.product-card--more .product-card__button {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  background-color: #f2f2f2;
  color: #444444;

  &:hover,
  &:focus-visible,
  &:active {
    background-color: #ebebeb;
  }
}
