.slider {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  width: 280px;
  --position: 50%;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__image {
  display: block;
  width: 280px;
  height: 256px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 560px;
    height: 512px;
  }
}

.slider__img {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.slider__img--before {
  width: var(--position);
  z-index: 2;
  overflow: hidden;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: none;
    background-image: linear-gradient(180deg, $color-white 167px, #eaeaea 167px);
  }
}

.slider__img--after {
  z-index: 1;
}

.slider__button {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  width: 4px;
  top: 0;
  bottom: 0;
  position: absolute;
  left: var(--position);
  transform: translateX(-50%);
  background-color: #666666;
  border-radius: 2px;
  z-index: 3;
  padding: 0;
  margin: 0;

  &::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-white;
    border: 2px solid #666666;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 18px;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#slider-arrow");
    mask-repeat: no-repeat;
  }
}

.slider__button:hover,
.slider__button:focus {
  background-color: $base-color-btn;

  &::before {
    border: 2px solid $base-color-btn;
  }

  &::after {
    background-color: $base-color-btn;
  }
}

.slider__button:active {
  background-color: #9ecc82;

  &::before {
    border: 2px solid #9ecc82;
  }

  &::after {
    background-color: #9ecc82;
  }
}
