.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-link {
  display: block;
  width: 44px;
  height: 62px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 62px;
    background-color: #666666;
  }
}

.social-link--vk::before {
  mask-image: url("../../icons/stack.svg#vk");
  mask-size: 27px 17px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-link--youtube::before {
  mask-image: url("../../icons/stack.svg#youtube");
  mask-size: 24px 19px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-link--telegram::before {
  mask-image: url("../../icons/stack.svg#telegram");
  mask-size: 21px 19px;
  mask-repeat: no-repeat;
  mask-position: center;
}

.social-link:hover,
.social-link:focus {
  &::before {
    background-color: $base-color-btn;
  }
}

.social-link:active {
  &::before {
    background-color: #c9e1bb;
  }
}
